.header {

    background-color: $color-red;
    padding: 2rem 5rem;

    @include respond(xs) {
             
        padding: 2rem 3rem;
     
    }

    & > a {

        text-decoration: none;
        width: 30rem;
    }

    &_title {

        font-family: $bold-font;
        color: $color-white;
        text-transform: capitalize;
        font-weight: 200;
        font-size: 3rem;
        word-spacing: 1rem;

        @include respond(xs) {
             
            font-size: 2.3rem;
         
        }

    }

}