.fade-enter {
    opacity: 0;
    visibility: hidden;
  }
  .fade-enter-active {
    opacity: 1;
    visibility: visible;
    transition: opacity 800ms ease 400ms;
  }
  .fade-exit {
    opacity: 1;
    visibility: visible;
  }
  .fade-exit-active {
    opacity: 0;
    visibility: hidden;
    transition: opacity 800ms ease 400ms;
  }