/*

  **  FONTS

*/

$bold-font: 'Monoton', cursive;
$header-font2: 'Indie Flower', cursive;
$content-font: 'Arimo', sans-serif;
$title-font: 'Candal', sans-serif;



/*

  **  FONTS

*/

$color-white: #FEFEFE;
$color-red: #e24e42;
$color-green: #008f95;
$color-gray-light: #FaFaFa;
$color-pink: #fae2e6;
$color-dark: #443402;
$color-yellow: #e9b000;