* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

/*

  **  FONTS

*/
/*

  **  FONTS

*/
.main_layout {
  max-width: 160rem;
  margin: 0 auto;
  background-color: #e9b000;
  min-height: 100vh;
}

.header {
  background-color: #e24e42;
  padding: 2rem 5rem;
}
.header_title {
  font-family: "Monoton", cursive;
  color: #FEFEFE;
  text-transform: capitalize;
  font-weight: 200;
  font-size: 3rem;
  word-spacing: 1rem;
}

.interface {
  padding: 20rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.interface_description {
  margin: 0 auto 9rem auto;
}
.interface_form {
  display: flex;
}
.interface_form-input {
  width: 50rem;
  height: 4rem;
  padding: 0 1rem;
  border: none;
  background-color: #fae2e6;
  margin: 0;
  outline: none;
}
.interface_form-submit {
  width: 9rem;
  height: 4rem;
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
  font-family: "Monoton", cursive;
  text-transform: capitalize;
  background-color: #e24e42;
  color: #FEFEFE;
  font-weight: lighter;
  cursor: pointer;
  border: none;
  margin: 0;
  outline: none;
}
.interface_error {
  margin-top: 2rem;
}
.interface_error.description {
  color: #e24e42;
  font-size: 1.5rem;
}

.description {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
  color: #443402;
  font-weight: bolder;
}

.fade-enter {
  opacity: 0;
  visibility: hidden;
}

.fade-enter-active {
  opacity: 1;
  visibility: visible;
  transition: opacity 800ms ease 400ms;
}

.fade-exit {
  opacity: 1;
  visibility: visible;
}

.fade-exit-active {
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms ease 400ms;
}

.fetchdata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0 0 0;
}
.fetchdata > a {
  margin: 0 auto 5rem auto;
  padding: 0;
  background-color: rgba(254, 254, 254, 0.3);
  border-radius: 3px;
}
.fetchdata > a:visited {
  text-decoration: none;
}
.fetchdata > a:link {
  text-decoration: none;
}
.fetchdata_404 {
  margin: 20rem auto auto auto;
}
.fetchdata_wrapper {
  background-color: transparent;
  width: 90rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  margin: 0;
}
.fetchdata_wrapper-name {
  font-size: 2rem;
}
.fetchdata_wrapper-img {
  height: 20rem;
  max-width: 30rem;
}

.content {
  font-family: "Arimo", sans-serif;
  color: #443402;
  text-transform: capitalize;
}

.spinner {
  padding-top: 22rem;
}

.finaldata {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12rem 4rem 7rem 4rem;
  margin: 0 auto;
  max-width: 128rem;
}
.finaldata_info {
  min-width: 35rem;
}
.finaldata_info-item {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.finaldata_info-item-name {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.finaldata_flag-img {
  height: 40rem;
  max-width: 75rem;
}

/*# sourceMappingURL=style.css.map */
